@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700|Oswald:200,400,700');

*{
  margin: 0;
  padding: 0;
<<<<<<< HEAD
  box-sizing: border-box;
  text-decoration: none;
}


/* SECCION 1 */

.super-container-one{
  background-image: url("image/ciudad.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  width: 100%;
  height: 100vh;
}


.container--right{
  display: flex;
  position: absolute;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
}

.container--right h1 a {
  text-decoration: none;
  color: #485269;
  font-family: 'roboto';
  font-size: 20px;
  font-style: normal;
  font-weight: bold;
  text-transform: uppercase;
  padding: 0 10px;
}


.container--center .title{
  display: flex;
  color: #485269;
  font-family: 'roboto';
  font-size: 50px;
  font-style: normal;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 3px;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container--center .subtitle{
  display: flex;
  color: #485269;
  font-family: 'roboto';
  font-size: 45px;
  font-style: normal;
  font-weight: lighter;
  text-transform: uppercase;
  letter-spacing: 3px;
  position: absolute;
  top: 37%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container--center button{
  padding: 10px 10px;
  border: 1px solid #485269;
  border-radius: 8px;
  background: transparent;
  color: #485269;
  text-align: center;
  font-weight: 300;
  outline: none;
  cursor: pointer;
  text-transform: uppercase;
  transition: all .5s ease;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.container--center button:hover{
  background: #6e768a;
  color: white;
=======
>>>>>>> 8209d96c3964a0889f8833bee5c200b0ef84420f
}
.section.one{
  width: 100%;
  background-image: url("image/ciudad.jpg");
  height: 100vh
}
.content.one{
  background: #fd79a8;
}
.content.two{
  background: #ff7675;
}


/* SLIDER */

  .slider-1 {
      width: 100%;
      height: 100vh;
      background: pink;
      display: flex;
      justify-content: center;
      align-items: center;


  }

  .slider-2{
    width: 100%;
    height: 100vh;
    background: blue;
    display: flex;
    justify-content: center;
    align-items: center;


  }

  .slider-3{
    width: 100%;
    height: 100vh;
    background: gray;
    display: flex;
    justify-content: center;
    align-items: center;

  }

.title-ped{
  display: flex;
  position: absolute;
  color: white;
  font-size: 50px;
  text-transform: uppercase;

}

.carousel{
  overflow-x: hidden;
}
