@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700|Oswald:200,400,700');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
/* SECCION 1 */
.super-container-one{
  background: #a0c6d0;
  display: flex;
  width: 100%;
  height: 100vh;
  position: fixed;
}
.menu {
  width: 35px;
  height: 20px;
  position: relative;
  margin: 30px 0 0 30px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.menu span,
.menu span:before,
.menu span:after {width: 100%; height: 2px; display: block; background: #333;}
.menu span:before,
.menu span:after {content: ''; position: absolute; transition-duration: .2s;}
.menu span:before {top: 0;}
.menu span:after {bottom: 0;}
.menu .active {background: none;}
.menu .active::before {transform: rotate(45deg); top: 50%; margin-top: -1px;}
.menu .active::after {transform: rotate(-45deg); top: 50%; margin-top: -1px;}
.super-container-one img{position: absolute;}

#nube1{
  top: 350px;
  opacity: .3;
  animation: nube1 60s infinite;
}
@keyframes nube1 {
  0%{transform: translateX(0);}
  50%{transform: translateX(1366px);}
  100%{transform: translateX(0);}
}
#nube2{
  top: 150px;
  right: 0;
  width: 150px;
  animation: nube2 30s infinite;
}
@keyframes nube2 {
  from{transform: translateX(0);}
  to{transform: translateX(-1366px);}
}
#nube3{
  top: 30px;
  opacity: .3;
  animation: nube1 30s infinite;
}
#nube4{
  bottom: 10px;
  right: -99px;
  width: 130px;
  animation: nube2 50s infinite;
}

.container--center{
  margin: 0 auto;
  margin-top: 300px;
  text-align: center;
}
.container--center .title{
  color: white;
  font-family: 'Oswald';
  font-size: 120px;
  font-weight: bold;
  text-transform: uppercase;
}

.container--center .subtitle{
  color: white;
  font-size: 45px;
  font-weight: lighter;
  text-transform: uppercase;
}
.container--center button{
  padding: 10px;
  border: 1px solid #485269;
  border-radius: 5px;
  background: transparent;
  color: #485269;
  outline: none;
  cursor: pointer;
  text-transform: uppercase;
  transition: all .5s ease;
}
.container--center button:hover{
  background: #6e768a;
  color: white;
}
.containerMenu{
  width: 100%;
  height: 200px;
  position:absolute;
  bottom: 0;
  background: white;
  transform: translateX(-9999px);
  transition: all .5s ease;
  display: flex;
  flex-wrap: wrap;
}
.activemenu{
  transform: translateX(0px);
}
.item {
  width: 33%;
}
